.body{
    background-color: grey;
    margin: auto;
    width: 1000px;
}
.header{
    background-color: white;
}

.logo{
    float: left;
    padding: 15px;
}

.search-button{
    float: right;
    padding: 15px;
}

.clearfix{
    clear:both;
}

.navigation-bar{
    background-color: orange;
    width: auto;
    
}

.navigation-bar > div > ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: block;
}

.navigation-bar > div > ul >li{
    display: inline-block;
}

.navigation-bar > div > ul >li >a{
    background-color: orange;
    /* font-size: larger; */
    font-weight: bolder;
    font-family: sans-serif;
    padding-right: 168px;
    color: darkgreen;
}

.navigation-bar > div > ul >li >a:hover {
    background-color: black;
}

.drop{
    list-style-type: none;
    position: absolute;
    background-color: orange;
    display: none;
    padding: 15px;
    line-height: 1.5em;
    font-family: sans-serif;
}

.drop > li> a{
    text-decoration: none;
    display: block;
    color: white;

}

.drop>li>a:hover{
    background-color: black;
}

.navigation-bar > div > ul >li:hover .drop{
    display: block;
}